html, body { 
 margin: 0; /*�������� �������� ��������*/ 
 padding: 0;
scroll-behavior: smooth;
 
}

#totop {
  position: fixed;
  bottom: 40px;
  left: 40px;
  padding: 0px 0 15px 7px;
  width: 50px;
  height: 50px;
  background-color: #185899;
  border-radius: 50%;
  font-size: 40px;
  color: #fff;
  z-index: 9999;
  opacity: 0;
}

 
body {
  background: #113 url(images/sky.jpg); /*��� ������ ������:*/ 
  font-size: 16px;
  width:500%;
}

h1{
   color: #fff;
   font-weight: bold;
   font-family: Segoe Print;
   font-size:40px;
   margin:0;
}

h2{
   color: #00aaff;
   padding: 10px 0 0 0;
   font-weight: bold;
   font-family: Segoe Print;
   font-size:32px;
}

p{
   color:#ddd;
   font-family:Verdana, Arial, sans-serif;
   font-size:16px;
   text-align: justify;/*������������ ������ �� ������*/
}

a {
   color: #00aaff;
   text-decoration: none;
   font-size:16px;
} 

a:hover{
   color: #345bab;
}
   
img{ /*����� ��� ��������*/
   margin: 0px 40px 20px 0;
   float:left; 
}

iframe{ /*����� ��� �����*/
   margin:20px 0;
}

 
#wrap {
	margin:0 auto; /* ���������� �������*/
	height:100%;/*����������� ������ 100% - ��� ��������� � ���� ���� ������*/
 }
 
#header{ 
    position:fixed;
	width:100%; /*��������� �� ������ �������� ���� ����������� ����*/
	text-align:left; /* ���������� �����*/
	color:#fff;
	font-size:24px; 
	height: 150px; /*������ ���������*/
	background: #345b9a;
	display: table;/*������������ ��� ������� ��� ������������� ������������*/
	vertical-align: middle;
 }

#header h1{
    position:fixed;
	padding-left:2%;
}

#menu{ 
   position:fixed;
   text-align:center; 
   font-size:18px; 
   padding: 20px 0 40px; /*�������*/
   margin:10px 0;
   top:20px;
   width: 900px;
   float:left;
   overflow: hidden;
    overflow-x: scroll;
}

.list_menu{ /*����� ��� ����� ����*/
   list-style:none; /*������� ����� ������*/
   font-family: Arial, Helvetica, Sans-serif;
   font-weight:bold;
}
   
.list_menu li{ /*����� ��� ������� ������ ����*/
   margin:10px;
   font-family: Segoe Print; 
   width: 140px;
   float:left;
}

.list_menu li a{ /*����� ��� ������, ����������� ������ ������� ������ ����*/
   padding:10px;
   display:block;
   color: #345bab;
   background:#74c0e8;   
}

.list_menu li a:hover{ /*����� ��� ������, ����������� ������ ������� ������ ���� ��� ��������� �����*/
   color: #fff;
   background:#091418;
}

#content{
  /* padding:150px 0 0 0;������ ������ ����� ������ ������ - ��� ��������� � ���� ���� ������ */   
} 

#planets{
	/*margin-left:1%;*/
}

.section{
   width:20%;
   float:left;
   margin:0;
   margin-right:0;
   box-sizing: border-box;
   padding:150px 2% 0;
}
.spacer{
    height:1%;
	width:0;
	float:left;
}

img.planet{
	width:200px;
	height:auto;
}

#footer{ /*����� ��� �������*/
   clear:both;
   width:100%;
   vertical-align: bottom; 
   background: #345b9a;
   display: table;/*������������ ��� ������� ��� ������������� ������������*/
   vertical-align: middle;
   margin:0 auto;
   height: 80px;/*������ ������*/
   margin-top:-80px;/*��������� ����� �� ��� �� ������ - ��� ��������� � ���� ���� ������ */
}

#footer p{ /*����� ��� ������ ������ �������*/  
   font-family: Arial, Helvetica, Sans-serif;
   font-weight: bold;
   color: #fff;   
   margin:30px 2%;
}

.up{ /*����� ��� �������-������ �����*/
   color:#fff;
   position:fixed; /*������������� �����������������*/
   bottom:0px; 
   right: 20px;
   font-size:40px;
}